.banner-container
{
width:1900px;
height:350px;
align-items:center;
background-color:rgba(229, 84, 115, 0.10); 
display:flex;
justify-content:space-around;
margin-left:150px;
margin-right:120px;

}

.banner-text
{
border:5px;
border-color: black;

}
.btn
{
    background-color:#E55473;
    width:80px;
    height:30px;
    color:antiquewhite;
    font-size:18px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 5px;
    
}
.banner-pic
{
    width: 600px;
    height:350px;
    align-items:center;
    padding-right:100px;
    padding-left: 100px;
    margin-right: 80px;

}

.flower1
{
width: 350px;
height:350px ; 
}


/* 1st part end*/
.sec-text
{
    
    text-align:center;
    
    padding-top: 100px;
    padding-bottom:100px;
 
}
.pic-container
{
display:flex;
justify-content:space-evenly;
}

.flower-box
{
    height:300px;
    width:250px ;
    border-color:black;
    border-radius: 120px  120px  0  0;

}
 

.logo-container
{  
  
   height: 150px;
   display: flex; 
   justify-content:space-around;
   margin-left: 190px;
   margin-right:190px;
   margin-top: 80px;
   padding-top:40px;

   background-color: rgb(154, 165, 175);

}
.parent-container
{
    display: flex;
    margin-left:180px;
    margin-top:80px;
    justify-content:space-around;
}
.btn1
{
    background-color:#E55473;
    width:80px;
    height:30px;
    color:antiquewhite;
    font-size:18px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 5px;
    padding: 2px;
    
}
.off-pink
{
    color:#930927;
}
/*.small-text
{
text-align:center;
padding:10px;

}*/
.middle
{
    text-align:center;
}
.insta-text
{
    text-align: center;
}
.Flpic-container
{
display: flex;
margin-top: 100px;
margin-left:100px;
margin-right:100px;
padding-left:200px;
/*justify-content:space-around;*/
gap: 20px;

}

.wrapper{
    position: relative;
    margin-left:200px;
    display: flex;
    padding: 20px;
    height: 50vh;
  }
  .blach-back
    { 
        background-color: black;
        color:chocolate;
    }


